.cities-list {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 250px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

.city-btn {
    animation: fadeIn ease 2s;
    width: 200px;
    background-color: transparent;
    padding: 10px 15px;
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    color: honeydew;
    cursor: pointer;
}

.city-btn:focus {
    outline: none;
}