.city-name {
    text-align: center;
    border: 1px solid yellow;
    border-radius: 10px;
    padding: 20px;
    font-size: 40px;
    color: rgb(221, 221, 221);
    cursor: pointer;
    margin: 20px;
}



.favorite-list {
    display: flex;
    flex-wrap: wrap;
}

.no-fav {

    color: rgb(221, 221, 221);
    max-width: 620px;
    margin: 20px auto;
    font-size: 2.5rem;
}

.favorite-box {
    text-align: center;
    h1 {
        font-family: 'Raleway', sans-serif;
        font-size: 60px;
        color: rgb(221, 221, 221);
    }
}